__pycache__/
*.py[cod]
*$py.class
*.so

build/
dist/
*.exe
*.zip
*.7z
*.tar
*.gz
*.rar
*.rar

*.bundle
release-notes.md
test_output/
output/

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.idea/
.vscode/
.zcode/
*.swp
*.swo

*.log
notify.log
*.log.*

*.rpa
movie01.rpa
