__pycache__/
*.py[cod]
*$py.class
*.so

build/
dist/
*.exe
*.zip

*.bundle
release-notes.md
test_output/

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.idea/
.vscode/
*.swp
*.swo

*.rpa
movie01.rpa
